fastapi==0.115.3
langchain==0.3.4
langchain_chroma==0.1.4
langchain_community==0.3.3
langchain_ollama==0.2.0
ollama==0.3.3
pydantic==2.9.2
pyngrok==7.2.0
questionary==2.0.1
rich==13.9.3
uvicorn==0.32.0
